/*base de couleur*/
b{
color:#17abb3 ,#333333,#e3e3e3,#f5f5f5,#ffffff }

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Italic-VariableFont_wght.woff);
    src: url(../fonts/Raleway-VariableFont_wght.woff);
    src: url(../fonts/Raleway-VariableFont_wght.ttf) format(truetype);
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format(truetype);
}

*{
    margin: 0;
    padding: 0;
}
body{
    width: 1160px;
    margin: auto;
}

/* header */

header{
    display: flex;
    background-color: #17abb3;
    color: #ffffff;
}
h1{
    text-align: center;
}
.img{
    width: 50%;
    height: 150px;
    background-color: red;
}
.presentation{
    width: 50%;
}
    /*navbar*/
.presentation nav{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
}
.presentation ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40px;
    width: 200px;
}
.presentation li{
    width: 80px;
    list-style-type: none;
    list-style-position: inside;

}
.presentation p{
    display: inline-block;
    width: 80px;
    color: #ffffff;
}
.presentation a{
    font-family: "Raleway";
    text-decoration: none;
    color: #ffffff;
}


/* main */
main{
    display:flex;
    width: 100%;
}
p,li{
    font-family: "Raleway";
    color:#333333;
}
h1,h2,h3{
    font-family: "Lato",sans-serif;
}
header h2{
    text-align: center;
}
    /*section competences*/
.competences{
    box-sizing: border-box;
    width: 25%;
    padding: 35px;
    background-color: #f5f5f5;
}
section h2{
    box-sizing: border-box;
    height: 2em;
    margin: 20px 0 20px;
    border-bottom: 2px solid #e3e3e3;
    color: #17abb3;
}
        /*liste competences et langues*/


.competences :nth-child(0n+2) li,
.competences :nth-child(0n+4) li{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid green;
    list-style-type: none;
    align-items: center;
    font-weight: 600;
}
.stars-html,
.stars-css,
.stars-javascript,
.stars-php{
    display: flex;
    align-self: center;
}

        /* todo :ajouter les autres etoiles de notation*/
.stars-html::after,
.stars-css::after,
.stars-javascript::after,
.stars-php::after{
    content: "\002606 \002606 \002606 \002606 \002606";
    box-sizing: border-box;
    color: #17abb3;
    border: 2px solid black;
}
.competences :nth-child(0n+4) li span{
    display: block;
    box-sizing: border-box;
    align-self: center;
    color: #333333;
    border: 2px solid black;
    font-weight: initial;
}
        /*liste qualités et centre d'interet*/
.competences :nth-child(5n+1) li,
.competences :nth-child(5n+3) li{
    list-style-type: square;
    list-style-position: inside;
    color: #17abb3;
}
.black{
    color: #333333;
}

    /*section experience*/
.experience{
    width: 75%;
    box-sizing: border-box;
    padding: 35px;

}
.experience>p:first-of-type{
    text-indent: 1.5em;
    text-align: justify;
}
.experience p{
    display: flex;
    justify-content: space-between;
    line-height: 1.3em;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
time{
    display: inline-block;
    text-align: end;
    width: 150px;
    font-weight: 400;
    color: #17abb3;
}
.hover{
    box-sizing: border-box;
    align-content: center;
    margin: 20px 0 20px;
    padding-right: 10px;
    height: 3em;
    
}
.hover:hover{
    padding-left: 10px;
    border-left: 5px solid #17abb3;
    background-color: #e3e3e3;
}

/* footer */

footer{
    background-color: #17abb3;
    color: #ffffff;
}









